/* Reset Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My CSS */

body {
    background-color: #cfbaf0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.to_do_list {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 2em;
    background-color: #f8d9db;
    padding: 1em;
    border-radius: 5px;
}

h1 {
    font-size: 2em;
    font-weight: Bold;
    margin: .75em;
    border: 2px solid #b189f1;
    padding: .25em;
    border-radius: 5px;
    background-color: #f8d9db;
    color: #8e89f1;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    padding: .5em;
    text-align: center;
}

button {
    margin: 1em;
}

li, .list_item {
    display: flex;
    background-color: #cfbaf0;
    font-size: 1.25em;
    padding-left: .5em;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #8e89f1;
    border-radius: 5px;
}

.button {
    background-color: #cfbaf0;
    border: 1.5px solid #8e89f1;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.824);
}